In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\ruman\OneDrive\Desktop\retail_store_sales.csv")
print(df)

      Transaction ID Customer ID       Category          Item  Price Per Unit  \
0        TXN_6867343     CUST_09     Patisserie   Item_10_PAT            18.5
1        TXN_3731986     CUST_22  Milk Products  Item_17_MILK            29.0
2        TXN_9303719     CUST_02       Butchers   Item_12_BUT            21.5
3        TXN_9458126     CUST_06      Beverages   Item_16_BEV            27.5
4        TXN_4575373     CUST_05           Food   Item_6_FOOD            12.5
...              ...         ...            ...           ...             ...
12570    TXN_9347481     CUST_18     Patisserie   Item_23_PAT            38.0
12571    TXN_4009414     CUST_03      Beverages    Item_2_BEV             6.5
12572    TXN_5306010     CUST_11       Butchers    Item_7_BUT            14.0
12573    TXN_5167298     CUST_04      Furniture    Item_7_FUR            14.0
12574    TXN_2407494     CUST_23           Food   Item_9_FOOD            17.0

       Quantity  Total Spent  Payment Method  Location Transaction Date  \
0          10.0        185.0  Digital Wallet    Online       2024-04-08
1           9.0        261.0  Digital Wallet    Online       2023-07-23
2           2.0         43.0     Credit Card    Online       2022-10-05
3           9.0        247.5     Credit Card    Online       2022-05-07
4           7.0         87.5  Digital Wallet    Online       2022-10-02
...         ...          ...             ...       ...              ...
12570       4.0        152.0     Credit Card  In-store       2023-09-03
12571       9.0         58.5            Cash    Online       2022-08-12
12572      10.0        140.0            Cash    Online       2024-08-24
12573       6.0         84.0            Cash    Online       2023-12-30
12574       3.0         51.0            Cash    Online       2022-08-06

      Discount Applied
0                 True
1                 True
2                False
3                  NaN
4                False
...                ...
12570              NaN
12571            False
12572              NaN
12573             True
12574              NaN

[12575 rows x 11 columns]

In [3]:
print(df.head())

  Transaction ID Customer ID       Category          Item  Price Per Unit  \
0    TXN_6867343     CUST_09     Patisserie   Item_10_PAT            18.5
1    TXN_3731986     CUST_22  Milk Products  Item_17_MILK            29.0
2    TXN_9303719     CUST_02       Butchers   Item_12_BUT            21.5
3    TXN_9458126     CUST_06      Beverages   Item_16_BEV            27.5
4    TXN_4575373     CUST_05           Food   Item_6_FOOD            12.5

   Quantity  Total Spent  Payment Method Location Transaction Date  \
0      10.0        185.0  Digital Wallet   Online       2024-04-08
1       9.0        261.0  Digital Wallet   Online       2023-07-23
2       2.0         43.0     Credit Card   Online       2022-10-05
3       9.0        247.5     Credit Card   Online       2022-05-07
4       7.0         87.5  Digital Wallet   Online       2022-10-02

  Discount Applied
0             True
1             True
2            False
3              NaN
4            False

In [4]:
print(df.tail())

      Transaction ID Customer ID    Category         Item  Price Per Unit  \
12570    TXN_9347481     CUST_18  Patisserie  Item_23_PAT            38.0
12571    TXN_4009414     CUST_03   Beverages   Item_2_BEV             6.5
12572    TXN_5306010     CUST_11    Butchers   Item_7_BUT            14.0
12573    TXN_5167298     CUST_04   Furniture   Item_7_FUR            14.0
12574    TXN_2407494     CUST_23        Food  Item_9_FOOD            17.0

       Quantity  Total Spent Payment Method  Location Transaction Date  \
12570       4.0        152.0    Credit Card  In-store       2023-09-03
12571       9.0         58.5           Cash    Online       2022-08-12
12572      10.0        140.0           Cash    Online       2024-08-24
12573       6.0         84.0           Cash    Online       2023-12-30
12574       3.0         51.0           Cash    Online       2022-08-06

      Discount Applied
12570              NaN
12571            False
12572              NaN
12573             True
12574              NaN

In [5]:
#	Which columns have missing values?
print(df.isnull().sum())

Transaction ID         0
Customer ID            0
Category               0
Item                1213
Price Per Unit       609
Quantity             604
Total Spent          604
Payment Method         0
Location               0
Transaction Date       0
Discount Applied    4199
dtype: int64

In [6]:
#o	What percentage of the dataset is missing in each column?
missing_percentage = (df.isnull().sum() / len(df)) * 100
print(missing_percentage)

Transaction ID       0.000000
Customer ID          0.000000
Category             0.000000
Item                 9.646123
Price Per Unit       4.842942
Quantity             4.803181
Total Spent          4.803181
Payment Method       0.000000
Location             0.000000
Transaction Date     0.000000
Discount Applied    33.391650
dtype: float64

In [13]:
#o	Suggest and apply strategies to fill/fix missing values for:
#	Item
#	Quantity
#	Total Spent
#	Discount Applied
# Fill missing Item with "Unknown"
df["Item"] = df["Item"].fillna("unknown")
df["Quantity"] = df["Quantity"].fillna(df["Quantity"].median())
df["Total Spent"]=df["Total Spent"].fillna(df["Price Per Unit"] * df["Quantity"])
df["Discount Applied"]=df["Discount Applied"].fillna(False)
print(df["Item"])
print(df["Quantity"])
print(df["Total Spent"])
print(df["Discount Applied"])

0         Item_10_PAT
1        Item_17_MILK
2         Item_12_BUT
3         Item_16_BEV
4         Item_6_FOOD
             ...
12570     Item_23_PAT
12571      Item_2_BEV
12572      Item_7_BUT
12573      Item_7_FUR
12574     Item_9_FOOD
Name: Item, Length: 12575, dtype: object
0        10.0
1         9.0
2         2.0
3         9.0
4         7.0
         ...
12570     4.0
12571     9.0
12572    10.0
12573     6.0
12574     3.0
Name: Quantity, Length: 12575, dtype: float64
0        185.0
1        261.0
2         43.0
3        247.5
4         87.5
         ...
12570    152.0
12571     58.5
12572    140.0
12573     84.0
12574     51.0
Name: Total Spent, Length: 12575, dtype: float64
0         True
1         True
2        False
3        False
4        False
         ...
12570    False
12571    False
12572    False
12573     True
12574    False
Name: Discount Applied, Length: 12575, dtype: bool

In [19]:
#2.	Data consistency
#	Are all Transaction IDs unique? If not, identify duplicates.
df=pd.read_csv(r"C:\Users\ruman\OneDrive\Desktop\retail_store_sales.csv")
print(df["Transaction ID"].is_unique)
duplicates=df[df["Transaction ID"].duplicated(keep=False)]
print(duplicates)

True
Empty DataFrame
Columns: [Transaction ID, Customer ID, Category, Item, Price Per Unit, Quantity, Total Spent, Payment Method, Location, Transaction Date, Discount Applied]
Index: []

In [18]:
#o	Are there duplicate rows in the dataset?
print("Number of duplicate rows:", df.duplicated().sum())
duplicates = df[df.duplicated()]
print(duplicates)

Number of duplicate rows: 0
Empty DataFrame
Columns: [Transaction ID, Customer ID, Category, Item, Price Per Unit, Quantity, Total Spent, Payment Method, Location, Transaction Date, Discount Applied]
Index: []

In [20]:
#o	Verify whether Price Per Unit × Quantity = Total Spent. Flag mismatches.
df["Check_Total"] = df["Price Per Unit"] * df["Quantity"]
df["Mismatch"] = df["Check_Total"].round(2) != df["Total Spent"].round(2)
mismatches = df[df["Mismatch"] == True]
print(mismatches)

      Transaction ID Customer ID                       Category Item  \
5        TXN_7482416     CUST_09                     Patisserie  NaN
7        TXN_1372952     CUST_21                      Furniture  NaN
11       TXN_5422631     CUST_09                  Milk Products  NaN
15       TXN_1809665     CUST_14                      Beverages  NaN
17       TXN_9634894     CUST_15                  Milk Products  NaN
...              ...         ...                            ...  ...
12527    TXN_1069238     CUST_23                           Food  NaN
12552    TXN_4823896     CUST_05                  Milk Products  NaN
12556    TXN_4397672     CUST_04                      Beverages  NaN
12562    TXN_7422454     CUST_07                       Butchers  NaN
12564    TXN_2153066     CUST_17  Electric household essentials  NaN

       Price Per Unit  Quantity  Total Spent  Payment Method  Location  \
5                 NaN      10.0        200.0     Credit Card    Online
7                33.5       NaN          NaN  Digital Wallet  In-store
11                NaN       8.0         52.0  Digital Wallet  In-store
15               24.5       NaN          NaN     Credit Card  In-store
17                NaN      10.0        275.0  Digital Wallet    Online
...               ...       ...          ...             ...       ...
12527             5.0       NaN          NaN  Digital Wallet  In-store
12552             8.0       NaN          NaN            Cash  In-store
12556            41.0       NaN          NaN     Credit Card    Online
12562            33.5       NaN          NaN            Cash    Online
12564            29.0       NaN          NaN  Digital Wallet  In-store

      Transaction Date Discount Applied  Check_Total  Mismatch
5           2023-11-30              NaN          NaN      True
7           2024-04-02             True          NaN      True
11          2025-01-12             True          NaN      True
15          2022-05-11              NaN          NaN      True
17          2022-04-17              NaN          NaN      True
...                ...              ...          ...       ...
12527       2022-08-13            False          NaN      True
12552       2022-07-21            False          NaN      True
12556       2024-11-28             True          NaN      True
12562       2023-04-15              NaN          NaN      True
12564       2024-03-28            False          NaN      True

[1213 rows x 13 columns]

In [3]:
#o	Convert Transaction Date into a proper datetime object
df["Transaction Date"] = pd.to_datetime(df["Transaction Date"])
print(df["Transaction Date"])

0       2024-04-08
1       2023-07-23
2       2022-10-05
3       2022-05-07
4       2022-10-02
           ...
12570   2023-09-03
12571   2022-08-12
12572   2024-08-24
12573   2023-12-30
12574   2022-08-06
Name: Transaction Date, Length: 12575, dtype: datetime64[ns]

In [4]:
#o	Ensure Price Per Unit, Quantity, and Total Spent are numeric.
df["Price Per Unit"] = pd.to_numeric(df["Price Per Unit"], errors="coerce")
df["Quantity"] = pd.to_numeric(df["Quantity"], errors="coerce")
df["Total Spent"] = pd.to_numeric(df["Total Spent"], errors="coerce")
print(df[["Price Per Unit", "Quantity", "Total Spent"]].dtypes)

Price Per Unit    float64
Quantity          float64
Total Spent       float64
dtype: object

In [4]:
#o	Convert Discount Applied into a Boolean (True/False).
print(df["Discount Applied"].astype(bool))

0         True
1         True
2        False
3         True
4        False
         ...
12570     True
12571    False
12572     True
12573     True
12574     True
Name: Discount Applied, Length: 12575, dtype: bool

In [36]:
#o	Standardize values in Payment Method (e.g., fix casing differences).
print(df["Payment Method"].str.strip().str.lower())

0        digital wallet
1        digital wallet
2           credit card
3           credit card
4        digital wallet
              ...
12570       credit card
12571              cash
12572              cash
12573              cash
12574              cash
Name: Payment Method, Length: 12575, dtype: object

In [13]:
print(df["Payment Method"].str.strip().str.title().str.lower())

0        digital wallet
1        digital wallet
2           credit card
3           credit card
4        digital wallet
              ...
12570       credit card
12571              cash
12572              cash
12573              cash
12574              cash
Name: Payment Method, Length: 12575, dtype: object

In [49]:
#Standardize Location (“Online” vs “In-store”).
df["Location"] = df["Location"].str.strip().str.lower().replace({
    "online": "Online",
    "in store": "In-store"
})
print(df["Location"])

0          Online
1          Online
2          Online
3          Online
4          Online
           ...
12570    in-store
12571      Online
12572      Online
12573      Online
12574      Online
Name: Location, Length: 12575, dtype: object

In [51]:
# Clean and standardize Location values
df["Location"] = df["Location"].str.strip().str.lower()
df["Location"] = df["Location"].replace({
    "online": "Online",
    "in store": "In-store",
    "in-store": "In-store"
})
print(df["Location"])

0          Online
1          Online
2          Online
3          Online
4          Online
           ...
12570    In-store
12571      Online
12572      Online
12573      Online
12574      Online
Name: Location, Length: 12575, dtype: object

In [56]:
#	Ensure Category values follow one naming convention.
df["Category"] = df["Category"].str.strip().str.title()
df["Category"] = df["Category"].replace({
    "Milk Product": "Milk Products",
    "Butcher": "Butchers",
    "Food Items": "Food"
})
print(df["Category"])

0           Patisserie
1        Milk Products
2             Butchers
3            Beverages
4                 Food
             ...
12570       Patisserie
12571        Beverages
12572         Butchers
12573        Furniture
12574             Food
Name: Category, Length: 12575, dtype: object

In [59]:
#6.	How many total transactions are in the dataset?
total_transactions =len(df)

print("Total transactions:", total_transactions)

Total transactions: 12575

In [60]:
#7.	How many unique customers are there?
print(df["Customer ID"].nunique())

25

In [61]:
#8.	What is the distribution of transactions by Category?
print(df["Category"].value_counts())

Category
Electric Household Essentials         1591
Furniture                             1591
Food                                  1588
Milk Products                         1584
Butchers                              1568
Beverages                             1567
Computers And Electric Accessories    1558
Patisserie                            1528
Name: count, dtype: int64

In [65]:
#9.	What is the distribution of Payment Method?
print( df["Payment Method"].value_counts())

Payment Method
Cash              4310
Digital Wallet    4144
Credit Card       4121
Name: count, dtype: int64

In [63]:
#10.	What is the distribution of transactions by Location (Online vs In-store)?
print(df["Location"].value_counts())

Location
Online      6354
In-store    6221
Name: count, dtype: int64

In [64]:
#11.	What is the overall average Total Spent per transaction?
print(df["Total Spent"].mean())

129.6525770612313

In [66]:
#12.	What is the overall median Quantity purchased per transaction?
print(df["Quantity"].median())

6.0

In [68]:
#13.	Which customers spent the most overall?
print(df.groupby("Customer ID")["Total Spent"].sum().sort_values(ascending=False).head(10))

Customer ID
CUST_24    68452.0
CUST_08    67351.5
CUST_05    66974.5
CUST_16    65570.5
CUST_13    65037.0
CUST_23    64507.0
CUST_10    63155.5
CUST_15    63117.5
CUST_21    62933.0
CUST_02    62046.5
Name: Total Spent, dtype: float64

In [70]:
#14.	Which customers made the highest number of transactions?
print(df["Customer ID"].value_counts().head(10))

Customer ID
CUST_05    544
CUST_24    543
CUST_13    534
CUST_08    533
CUST_09    519
CUST_15    519
CUST_16    515
CUST_23    513
CUST_20    507
CUST_18    507
Name: count, dtype: int64

In [72]:
#15.	Which customers purchased from the most categories?
df.groupby("Customer ID")["Category"].nunique().sort_values(ascending=False).head(10)

Customer ID
CUST_01    8
CUST_02    8
CUST_03    8
CUST_04    8
CUST_05    8
CUST_06    8
CUST_07    8
CUST_08    8
CUST_09    8
CUST_10    8
Name: Category, dtype: int64

In [73]:
#16.	Do customers show a preference for Online or In-store shopping?
print(df["Location"].value_counts())
print(df["Location"].value_counts(normalize=True) * 100)

Location
Online      6354
In-store    6221
Name: count, dtype: int64
Location
Online      50.528827
In-store    49.471173
Name: proportion, dtype: float64

In [75]:
#17.	Which customer has the largest average spend per transaction?
print(
    df.groupby("Customer ID")["Total Spent"]
    .mean()
    .sort_values(ascending=False).head(10)
)

Customer ID
CUST_03    136.347534
CUST_04    135.752747
CUST_23    134.110187
CUST_19    133.035011
CUST_02    132.861884
CUST_08    132.843195
CUST_16    132.733806
CUST_21    132.212185
CUST_24    131.892100
CUST_07    131.658351
Name: Total Spent, dtype: float64

In [76]:
#18.	Which category generated the most total revenue?
print(
    df.groupby("Category")["Total Spent"]
    .sum()
    .sort_values(ascending=False)
)

Category
Butchers                              208118.0
Electric Household Essentials         203813.5
Beverages                             197047.5
Furniture                             195310.0
Food                                  194812.0
Computers And Electric Accessories    190692.5
Patisserie                            182165.5
Milk Products                         180112.0
Name: Total Spent, dtype: float64

In [77]:
#19.	Which category has the highest average Total Spent per transaction?
print(
    df.groupby("Category")["Total Spent"]
    .mean()
    .sort_values(ascending=False)
)

Category
Butchers                              139.116310
Electric Household Essentials         134.441623
Beverages                             131.716243
Food                                  129.271400
Computers And Electric Accessories    129.107989
Furniture                             128.072131
Patisserie                            126.416031
Milk Products                         119.042961
Name: Total Spent, dtype: float64

In [78]:
#20.	Which items are the top sellers by total quantity sold?
print(
    df.groupby("Item")["Quantity"]
    .sum()
    .sort_values(ascending=False)
)

Item
Item_2_BEV      676.0
Item_16_MILK    627.0
Item_25_FUR     616.0
Item_19_MILK    589.0
Item_5_FUR      581.0
                ...
Item_13_FUR      40.0
Item_22_FUR      39.0
Item_13_BEV      36.0
Item_3_EHE       28.0
Item_21_PAT      23.0
Name: Quantity, Length: 200, dtype: float64

In [79]:
#21.	Are discounts applied more frequently in certain categories?
print(
    df.groupby("Category")["Discount Applied"]
    .value_counts(normalize=True)
    .unstack()
    .fillna(0) * 100
)

Discount Applied                        False      True
Category
Beverages                           31.589024  68.410976
Butchers                            32.780612  67.219388
Computers And Electric Accessories  35.044929  64.955071
Electric Household Essentials       33.186675  66.813325
Food                                34.445844  65.554156
Furniture                           30.546826  69.453174
Milk Products                       34.659091  65.340909
Patisserie                          32.198953  67.801047

In [80]:
#22.	Which category has the highest number of unique customers buying from it?
print(
    df.groupby("Category")["Customer ID"]
    .nunique()
    .sort_values(ascending=False)
)

Category
Beverages                             25
Butchers                              25
Computers And Electric Accessories    25
Electric Household Essentials         25
Food                                  25
Furniture                             25
Milk Products                         25
Patisserie                            25
Name: Customer ID, dtype: int64

In [6]:
#23.	What is the date range of the dataset?
df['Transaction Date'] = pd.to_datetime(df['Transaction Date'])
start_date = df['Transaction Date'].min()
end_date = df['Transaction Date'].max()

print("Dataset Date Range:", start_date, "to", end_date)

Dataset Date Range: 2022-01-01 00:00:00 to 2025-01-18 00:00:00

In [9]:
#24.	How do transactions trend over time (monthly / yearly)?
print(pd.to_datetime(df['Transaction Date']))
print(df.groupby(df['Transaction Date'].dt.to_period('M'))['Transaction ID'].count())

0       2024-04-08
1       2023-07-23
2       2022-10-05
3       2022-05-07
4       2022-10-02
           ...
12570   2023-09-03
12571   2022-08-12
12572   2024-08-24
12573   2023-12-30
12574   2022-08-06
Name: Transaction Date, Length: 12575, dtype: datetime64[ns]
Transaction Date
2022-01    390
2022-02    331
2022-03    353
2022-04    346
2022-05    330
2022-06    338
2022-07    371
2022-08    347
2022-09    348
2022-10    317
2022-11    354
2022-12    309
2023-01    373
2023-02    314
2023-03    311
2023-04    323
2023-05    334
2023-06    349
2023-07    375
2023-08    317
2023-09    333
2023-10    308
2023-11    302
2023-12    348
2024-01    385
2024-02    320
2024-03    355
2024-04    327
2024-05    369
2024-06    351
2024-07    343
2024-08    375
2024-09    340
2024-10    353
2024-11    347
2024-12    376
2025-01    213
Freq: M, Name: Transaction ID, dtype: int64

In [10]:
#25.	In which month(s) did the most transactions occur?
df['Transaction Date'] = pd.to_datetime(df['Transaction Date'])
monthly = df.groupby(df['Transaction Date'].dt.strftime('%Y-%m'))['Transaction ID'].count()
print("Most transactions in:", monthly.idxmax(), "with", monthly.max(), "transactions")

Most transactions in: 2022-01 with 390 transactions

In [11]:
# Transaction Date ko datetime me convert karna
df['Transaction Date'] = pd.to_datetime(df['Transaction Date'])
monthly_counts = df.groupby(df['Transaction Date'].dt.to_period('M'))['Transaction ID'].count()
max_transactions = monthly_counts.max()
top_months = monthly_counts[monthly_counts == max_transactions]
print("Most Transactions Month(s):")
print(top_months)

Most Transactions Month(s):
Transaction Date
2022-01    390
Freq: M, Name: Transaction ID, dtype: int64

In [12]:
#26.	Which month had the highest total revenue?
df['Transaction Date'] = pd.to_datetime(df['Transaction Date'])
df['Year'] = df['Transaction Date'].dt.year
df['Month'] = df['Transaction Date'].dt.month
monthly_revenue = df.groupby(['Year','Month'])['Total Spent'].sum()
top_month = monthly_revenue.idxmax()
top_revenue = monthly_revenue.max()

print("Month with highest revenue:", top_month, "with total revenue:", top_revenue)

Month with highest revenue: (np.int32(2022), np.int32(1)) with total revenue: 52911.5

In [14]:
#27.	Is there a difference in average transaction value between 2022, 2023, and 2024?
df['Transaction Date'] = pd.to_datetime(df['Transaction Date'])
df['Year'] = df['Transaction Date'].dt.year
avg_transaction = df.groupby('Year')['Total Spent'].mean()

print(avg_transaction)

Year
2022    130.020255
2023    129.021008
2024    130.049802
2025    126.477723
Name: Total Spent, dtype: float64

In [5]:
#	Do discount transactions cluster in certain months/seasons?
df['Transaction Date'] = pd.to_datetime(df['Transaction date'])
#df['month'] = df['Transaction Date'].dt.month
#df['Year'] = df['Transaction Date'].dt.year

In [6]:
#29.	Which payment method is used most often?
most_used_payment = df["Payment Method"].value_counts().idxmax()
count = df["Payment Method"].value_counts().max()

print("Most used payment method:", most_used_payment)
print("Number of times used:", count)

Most used payment method: Cash
Number of times used: 4310

In [7]:
#30.	Which payment method generates the highest revenue?
highest_revenue_payment = (
    df.groupby("Payment Method")["Total Spent"].sum().sort_values(ascending=False)
)

print(highest_revenue_payment)
print("Highest revenue generated by:", highest_revenue_payment.idxmax())

Payment Method
Cash              537710.0
Digital Wallet    507279.0
Credit Card       507082.0
Name: Total Spent, dtype: float64
Highest revenue generated by: Cash

In [8]:
#31.	Does average Total Spent differ between Credit Card and Digital Wallet?
avg_spent = df.groupby("Payment Method")["Total Spent"].mean()

print(avg_spent[["Credit Card", "Digital Wallet"]])

Payment Method
Credit Card       129.127069
Digital Wallet    128.718346
Name: Total Spent, dtype: float64

In [14]:
#32.	What percentage of all transactions had discounts applied?
df["Discount Applied"] = df["Discount Applied"].astype(bool)
total_transactions = len(df)
discount_transactions = df["Discount Applied"].sum()  # True counts as 1

# Calculate percentage
discount_percentage = (discount_transactions / total_transactions) * 100

print(f"Percentage of transactions with discounts applied: {discount_percentage:.2f}%")

Percentage of transactions with discounts applied: 66.94%

In [19]:
#33.	Do transactions with discounts have a higher average Quantity than those without?
df["Discount Applied"] = df["Discount Applied"].astype(bool)
df["Quantity"] = pd.to_numeric(df["Quantity"], errors="coerce")
avg_quantity = df.groupby("Discount Applied")["Quantity"].mean()
print(avg_quantity)

Discount Applied
False    5.580979
True     5.514300
Name: Quantity, dtype: float64

In [18]:
#34.	Do discount transactions generate more total revenue compared to non-discount ones?
df["Discount Applied"] = df["Discount Applied"].astype(bool)
df["Total Spent"] = pd.to_numeric(df["Total Spent"], errors="coerce")
revenue_by_discount = df.groupby("Discount Applied")["Total Spent"].sum()
print("Total revenue by discount status:")
print(revenue_by_discount)

Total revenue by discount status:
Discount Applied
False     515135.0
True     1036936.0
Name: Total Spent, dtype: float64